<div class="container">
    <div class="block-header" style="background: blanchedalmond ; width: 189px; ">


        <ul class="nav nav-tabs header">
            <li class="nav-item">
                <a class="nav-link" routerLink="page1" routerLinkActive="active">From</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="page2" routerLinkActive="active">Assignment</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="page3" routerLinkActive="active">LAB03</a>
            </li> -->
        </ul>
    </div>
</div>