<div class="block-header" style=" width: 600px;">
    <!-- 
    <ul class="nav nav-tabs header">
        <li class="nav-item">
            <a class="nav-link" routerLink="bai1" routerLinkActive="active">Bài Tập 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai2" routerLinkActive="active">Bài Tập 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai3" routerLinkActive="active">Bài Tập 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai4" routerLinkActive="active">Bài Tập 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai5" routerLinkActive="active">Bài Tập 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Your cart</a>
        </li>
    </ul> -->
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#" routerLink="from" routerLinkActive="active"
            style="width: 275px;">Hình Chữ Nhật</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="from1" routerLinkActive="active"
            style="width: 275px;">Thông Tin SV</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="from2" routerLinkActive="active"
            style="width: 275px;">Tính Tiền Thưởng</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="from3" routerLinkActive="active"
            style="width: 275px;">Bán Hàng </a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="from4" routerLinkActive="active"
            style="width: 275px;">Kiểm Lỗi From</a>
        <!-- <a class="list-group-item list-group-item-action" href="#" [routerLink]="['/cart']" style="width: 275px;">Your
            Cart</a> -->
    </div>
</div>