<div class="block-header" style=" width: 600px;">
    <!-- 
    <ul class="nav nav-tabs header">
        <li class="nav-item">
            <a class="nav-link" routerLink="bai1" routerLinkActive="active">Bài Tập 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai2" routerLinkActive="active">Bài Tập 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai3" routerLinkActive="active">Bài Tập 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai4" routerLinkActive="active">Bài Tập 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai5" routerLinkActive="active">Bài Tập 5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Your cart</a>
        </li>
    </ul> -->
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai1" routerLinkActive="active"
            style="width: 275px;">Bài Tập
            1</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai2" routerLinkActive="active"
            style="width: 275px;">Bài Tập
            2</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai3" routerLinkActive="active"
            style="width: 275px;">Bài Tập
            3</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai4" routerLinkActive="active"
            style="width: 275px;">Bài Tập
            4</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai5" routerLinkActive="active"
            style="width: 275px;">Bài Tập
            5</a>
        <a class="list-group-item list-group-item-action" href="#" [routerLink]="['/cart']" style="width: 275px;">Your
            Cart</a>
    </div>
</div>