<div class="block-header" style="background: blanchedalmond ; width: 493px;">


    <ul class="nav nav-tabs header">
        <li class="nav-item">
            <a class="nav-link" routerLink="bai/1" routerLinkActive="active">Bài Tập 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="bai/2" routerLinkActive="active">Bài Tập 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/bai/3" routerLinkActive="active">Bài Tập 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/bai/4" routerLinkActive="active">Bài Tập 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/bai/5" routerLinkActive="active">Bài Tập 5</a>
        </li>
    </ul>
</div>