<!-- <app-page></app-page> -->
<!-- <app-menu></app-menu> -->
<!-- <app-bai1></app-bai1><br> -->
<!-- <app-test></app-test> -->
<!-- <app-bai2></app-bai2><br>
<app-bai3></app-bai3><br><Br> -->
<!-- <app-from></app-from> -->
<!-- <app-homelab2></app-homelab2> -->
<!-- <app-assignment></app-assignment> -->
<!-- <app-form-lab06></app-form-lab06> -->
<router-outlet></router-outlet><br>
<!-- <app-login></app-login> -->
<!-- <app-products></app-products> -->
<!-- <app-detailshop></app-detailshop> -->
<!-- <app-bai5></app-bai5>  -->