<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Chiều Dài</label>
            <input type="number" class="form-control" [(ngModel)]="hcn.cd" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Chiều Rộng</label>
            <input type="number" class="form-control" [(ngModel)]="hcn.cr" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Diện Tích</label>
            <input type="email" class="form-control" [(ngModel)]="hcn.dt" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Chu Vi</label>
            <input type="email" class="form-control" [(ngModel)]="hcn.cv" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary" (click)="Tinh()">Calculate</button>
    </form>
</div>