<div class="container">
    <img src="../assets/images/banner2.jpg" style="width: 100% ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between">
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a class="nav-link" href="trangchu"> <i class='fas fa-home' style='font-size:20px'></i> Trang
                        Chủ</a>
                </li>
                <li class="nav-item ">
                    <!--thêm active nó sẽ kh lick được  nav-item active-->
                    <a class="nav-link" href="gioithieu"><i style="font-size:20px" class="fa">&#xf03a;</i> Giới Thiệu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe"><i class='fas fa-phone' style='font-size:20px'></i>
                        Liên Hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gopy"><i class='far fa-envelope' style='font-size:20px'></i> Góp
                        Ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hoidap" tabindex="-1" aria-disabled="true"><i
                            class='far fa-question-circle' style='font-size:20px'></i>
                        Hỏi Đáp</a>
                </li>

            </ul>
            <div class="btn-group" style="float: right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tài Khoản
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="login">Đăng Nhập</a>
                    <a class="dropdown-item" href="dangky">Đăng Ký</a>
                    <a class="dropdown-item" href="doimk">Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="quenmk">Quên Mật Khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sửa Đổi Tài Khoản</a>
                    <a class="dropdown-item" href="danhmucmh">Danh Mục môn Học</a>
                    <a class="dropdown-item" href="thitn">Thi Trắc Nghiệm</a>
                </div>
            </div>
        </div>
    </nav>

    <br>

    <div class="row">
        <div class="col-md-8">

            <i class='fas fa-graduation-cap' style='font-size:26px;color:red'> </i> <b>Hoạt Động Sinh Viên</b>
            <br>
            <img src="../assets/images/caulacbota.jpg" style="width: 100% ">

            <b> Tân Sinh viên Khoa Luật hào hứng tham gia CLB tiếng Anh pháp lý</b> <br>

            Tối ngày 03/10 vừa qua, CLB tiếng Anh pháp lý thuộc khoa Luật đã có buổi sinh hoạt đầy thú vị tại trụ sở
            chính trường Đại học Công Nghệ TP.HCM (HUTECH), thu hút sự tham gia nhiệt tình của các bạn sinh viên khoa
            Luật.
            <br>
            <br>
            <i class='fas fa-laptop-code' style='font-size:26px;color:red'></i> <b>Tin HuTech</b>
            <br>
            <img src="../assets/images/tainangsv.jpg" style="width: 100% ">
            <b> “HUTECH’S TALENT 2020” - Cuộc “săn tìm” tài năng Sinh viên HUTECH chính thức phát động </b> <br>
            “HUTECH’S TALENT 2020” - Cuộc “săn tìm” tài năng Sinh viên HUTECH chính thức phát động
            Chính thức phát động trong Đêm hội văn hóa mới diễn ra vào tối 4/10, cuộc thi HUTECH’S TALENT 2020 - “Tỏa
            sáng tài năng sinh viên HUTECH” - sẽ là cuộc “săn tìm” tài năng quy mô toàn trường của cộng đồng sinh viên
            HUTECH.
            <br>
            <br>
            <i class='fas fa-user-graduate' style='font-size:26px;color:red'></i><b>Tin Tuyển Sinh</b>
            <br>
            <img src="../assets/images/tuyensinh.jpg" style="width: 100% ">

            <B> HUTECH thông báo lịch ôn thi tuyển sinh cao học năm 2019 - đợt 2 Từ ngày 12/10/2019</B><Br>

            Từ ngày 12/10/2019, Trường Đại học Công nghệ TP.HCM (HUTECH) sẽ tổ chức lớp ôn tập dành cho các thí sinh
            đăng ký dự thi kỳ thi tuyển sinh đào tạo trình độ thạc sĩ năm 2019 - đợt 2, thi tuyển vào 2 ngày 23 &
            24/11/2019.
            <br>
            <br>


            <!-- <div class="card" style="padding-top: 20px">
            <div class="card-body">
                <h5 class="card-title">FRONT_END FRAMEWORK</h5>
                <p class="card-text">It use utility classes for typograpphy and spacing to space content out within
                    the
                    lafger
                    container.</p>
                <a href="#" class="btn btn-primary">Xem Thêm ...</a>
            </div>
        </div> -->




            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
            style="width: 600px ; height: 250px;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src=" ../assets/images/1003.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src=" ../assets/images/1004.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src=" ../assets/images/6.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>-->
        </div>
        <!-- end col-md-8 -->

        <div class="col-md-4">

            <!-- <div class="giohang">
            <div class=" card">
                <div class="card-body">
                    <img src=" ../assets/images/shopping.gif" class="card-img-top" style="width: 4rem;">
                    <p>
                        100 items<br>
                        & 56.8<br>

                        <a href="#">view cart</a>
                    </p>
                </div>
            </div>

        </div> -->

            <!-- <div class="from">
            <div class="row" style="border: 2px solid lightgrey; margin: 1em 0 1em 0">
                <div class="col-sm-12" style="margin-top: 1em; margin-bottom: 1em">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
        </div> -->
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#demo"><i
                                    class="fa fa-align-left" style="font-size:24px"> Danh Mục Môn Học</i>
                                <div id="demo" class="collapse">
                                    <ul class="list-group">
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">Kiểm Thử Phần
                                            Mềm</a>
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">SQL Sever</a>
                                        <li class="list-group-item">Điện Toán Đám Mây</li>
                                        <li class="list-group-item">Lập Trình PHP</li>
                                        <li class="list-group-item">Lập trình Android nâng cao</li>
                                        <li class="list-group-item">Lập trình Android cơ bản</li>
                                        <li class="list-group-item">Thiết kế layout</li>
                                        <li class="list-group-item">Thiết kê giao diện Android</li>
                                        <li class="list-group-item">Quản lý dự án với Aglie</li>
                                        <li class="list-group-item">Internet Maketing</li>
                                        <li class="list-group-item">Lập trình hướng đối tượng Java</li>
                                        <li class="list-group-item">Lập trình ASP.NET</li>
                                    </ul>
                                </div>
                        </ul>
                    </div>
                </div><Br>
                <i class='fas fa-award' style='font-size:26px;color:red'></i> Tin Nổi Bật
                <br>
                <ul>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh Liên thông TCCN, Cao đẳng, Cao
                                đẳng nghề lên Đại học năm 2019 - Đợt 2 <img
                                    src="../assets/images/moi.gif"></span></span>
                    </li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh Đại học chính quy Văn bằng thứ
                                2 năm 2019 - Đợt 2 <img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tư vấn Tuyển sinh trực
                                tuyến <img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh Đào tạo từ xa trình độ Đại học
                                năm 2019<img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Tuyển sinh đào tạo trình độ Tiến sĩ năm
                                2019 - Đợt 2 <img src="../assets/images/moi.gif"></span></span></li>
                    <li style="text-align:justify"><span style="font-size:13px"><span
                                style="font-family:arial,helvetica,sans-serif">Thông tin tuyển dụng <img
                                    src="../assets/images/moi.gif"></span></span></li>
                </ul>
                <!-- <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station">
                            <i class='fas fa-table' style='font-size:24px'></i> NHÀ CUNG CẤP</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station1">
                            <i class='fas fa-star' style='font-size:24px'></i> HÀNG ĐẶC BIỆT</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div> -->

            </div>
            <!-- end card accordion -->
        </div>
        <!-- end col-md-4 -->
    </div>
    <!-- end row -->
    <!-- hiện thông báo -->
    <!-- <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
        <input type="text" name="emailid" placeholder="emailid" ngModel>
        <br />
        <input type="password" name="passwd" placeholder="passwd" ngModel>
        <br />
        <input type="submit" value="submit">
    </form> -->
    <!-- lưu tên tài khoản -->
    <!-- <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
            <input type="text" class="fortextbox" name="emailid" placeholder="emailid" formControlName="emailid">
            <br />

            <input type="password" class="fortextbox" name="passwd" placeholder="passwd" formControlName="passwd">
            <br />

            <input type="submit" class="forsubmit" value="Log In">
        </form>
    </div>
    <p>
        Email entered is : {{emailid}}
    </p> -->
    <!-- kiểm tra tài khoản và mật khẩu có hợp lệ không -->
    <br>
    <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
            <input type="text" class="fortextbox" name="emailid" placeholder="email" formControlName="emailid">
            <br />
            <input type="password" class="fortextbox" name="passwd" placeholder="password" formControlName="passwd">
            <br />
            <input type="submit" [disabled]="!formdata.valid" class="forsubmit" value="Log In">
        </form>
    </div>
    <p>
        Email entered is : {{emailid}}
    </p>
    <div class="container" style="background: cornsilk">
        <div class="backpage">
            <div class="row1">
                <div class="col-sm-4" style="float: left;">

                    CN: <b> Điện Biên Phủ</b> <br>
                    Địa chỉ:<b> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</b><br>
                    Điện thoại: <b>(028) 5445 7777 </b><br>
                    Website: <b>hutech@hutech.edu.vn </b><br>
                    Email:<b> key@key.com.vn</b>
                    <br>
                    <div class="social_link">
                        <a href="https://www.facebook.com/profile.php?id=100038330927513" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/facebook.png" alt="facebook"
                                title="facebook" style="width: 32px; margin-right: 5px">
                        </a>
                        <a href="https://www.youtube.com/user/DaoTaoTinHocKEY/videos" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/youtube-l.png" alt="youtube"
                                title="youtube" style="width: 32px; margin-right: 5px">
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/google.png" alt="google+"
                                title="google+" style="width: 32px; margin-right: 5px">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4" style="float: left">
                    <div class="yui3-c">
                        <ul class="footer_container__list">
                            <li class="footer_container__list-item">
                                <a title="ALTE" href="http://www.alte.org/" class="link--external footer_link--img">
                                    <img src="../assets/images/alte.png" class="image--small " alt="ALTE logo">
                                </a>
                            </li><br>
                            <li class="footer_container__list-item">
                                <a title="English Profile" href="http://www.englishprofile.org"
                                    class="link--external footer_link--img">
                                    <img src="../assets/images/english.png" class="image--small "
                                        alt="English Profile logo">
                                </a>
                            </li><br>
                            <li class="footer_container__list-item">
                                <a title="Cambridge University Press"
                                    href="http://www.cambridge.org/gb/cambridgeenglish"
                                    class="link--external footer_link--img">
                                    <img src="../assets/images/cambridge.png" class="image--small "
                                        alt="Cambridge University Press">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4" style="float: left">
                    <div class="footer_container yui3-u-1 yui3-u-sm-1-3">
                        <div class="yui3-c">
                            <ul class="footer_container__list">
                                <li class="footer_container__list-item">
                                    <a title="Cambridge Assessment" href="http://www.cambridgeassessment.org.uk/"
                                        class="link--external footer_link--img">
                                        <img src="../assets/images/cambridge1.png" class="image--small "
                                            alt="Cambridge Assessment logo">
                                    </a>
                                </li><br>
                                <li class="footer_container__list-item">
                                    <a title="BSI" href="http://www.bsigroup.co.uk/"
                                        class="link--external footer_link--img">
                                        <img src="../assets/images/bsi.png" class="image--small " alt="BSI Logo">
                                    </a>
                                </li><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>