<body>
    <img src="../assets/images/banner8.jpg" style="width: 100%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between">
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a class="nav-link" href="trangchu"> <i class='fas fa-home' style='font-size:20px'></i> Trang
                        Chủ</a>
                </li>
                <li class="nav-item ">
                    <!--thêm active nó sẽ kh lick được  nav-item active-->
                    <a class="nav-link" href="gioithieu"><i style="font-size:20px" class="fa">&#xf03a;</i> Giới Thiệu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe"><i class='fas fa-phone' style='font-size:20px'></i>
                        Liên Hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gopy"><i class='far fa-envelope' style='font-size:20px'></i> Góp
                        Ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hoidap" tabindex="-1" aria-disabled="true"><i
                            class='far fa-question-circle' style='font-size:20px'></i>
                        Hỏi Đáp</a>
                </li>
            </ul>
            <div class="btn-group" style="float: right">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                        placeholder="Search.....">
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <img src="../assets/images/gioithieu5.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> Software Testing</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu6.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> Cloud computing</button>


                </ul>
            </div>

            <div class="card">
                <img src="../assets/images/gioithieu7.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> PHP programming</button>


                </ul>
            </div>

            <div class="card">
                <img src="../assets/images/gioithieu8.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()">Advanced Android
                        programming</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu9.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()">Basic Android programming</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu10.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> Layout design</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu11.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> Android interface design</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu12.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()"> Project manager with Aglie</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu13.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()">Java object-oriented
                        programming</button>


                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/gioithieu14.jpg" style="width: 100%;">
                <div class="card-body">

                </div>

                <ul class="list-group list-group-flush">
                    <button type="button" class="btn btn-secondary" onclick="ttt()">ASP.NET programming</button>


                </ul>
            </div>
        </div>
        <div class="col-md-8" style="float: left">
            Trong thời kỳ hội nhập, Công nghệ thông tin là một trong những ngành mũi nhọn mang đến sự phát triển vượt
            bậc cho khoa học kỹ thuật. Chính vì vậy,<b> ngành Công nghệ thông tin</b> đã trở thành một ngành học “hot”
            và thu
            hút rất nhiều bạn trẻ, đặc biệt là những bạn yêu thích máy tính và đam mê công nghệ. Tuy nhiên, không phải
            ai cũng hiểu rõ <b> “Ngành Công nghệ thông tin là gì, ra trường làm gì?”.</b><br><br>

            Bài viết dưới đây sẽ giúp những bạn trẻ có khát vọng theo đuổi ngành Công nghệ thông tin giải đáp được thắc
            mắc "Ngành Công nghệ thông tin là gì? Ra trường làm gì?" Bởi để học tốt và thành công trong bất cứ ngành
            nghề nào điều quan trọng đầu tiên là bạn phải hiểu rõ ngành học đó là gì và cơ hội nghề nghiệp ra
            sao.<br><br>

            <b>Ngành Công nghệ thông tin học những gì?</b> <br><br><br>

            Hiểu một cách đơn giản, Công nghệ thông tin là ngành sử dụng máy tính và phần mềm máy tính để chuyển đổi,
            lưu trữ, bảo vệ, xử lý, truyền và thu thập thông tin. Người làm việc trong trong ngành này thường được gọi
            là IT (Information Technology). Mục đích của khối khoa học tổng hợp liên ngành này là nhằm phát triển khả
            năng sửa chữa, tạo mới và sử dụng hệ thống các thiết bị và máy tính bao gồm phần cứng, phần mềm để cung cấp
            giải pháp xử lý thông tin trên nền công nghệ cá nhân, tổ chức có yêu cầu.<br><br>

            <img src="../assets/images/gioithieu2.jpg" style="width: 100%;"> <br> <br>

            Theo thống kê của Bộ Thông tin - Truyền thông, hướng quy hoạch nhân lực quốc gia đến năm 2020, Việt Nam cần
            1 triệu lao động trong lĩnh vực công nghệ thông tin, nhu cầu nhân lực ngành này mỗi năm tăng 13%. Mặt khác,
            một “ưu ái” của thị trường lao động đối với ngành này là: thực tế các cuộc khủng hoảng kinh tế gần đây đã
            chứng minh, nhân lực ngành Công nghệ thông tin là một trong những ngành ít chịu ảnh hưởng nhất.<br><br>

            Học ngành <b> Công nghệ thông tin</b> sinh viên có thể nghiên cứu chuyên sâu về Khoa học máy tính, Công nghệ
            phần
            mềm, Kỹ thuật máy tính, Hệ thống thông tin, Mạng máy tính và truyền thông, An toàn thông tin mạng ở các
            trường đại học có đào tạo ngành công nghệ thông tin trên toàn quốc. Phần kiến thức chuyên ngành sẽ trang bị
            cho sinh viên những kiến thức liên quan đến việc nghiên cứu phát triển, gia công hay ứng dụng hệ thống phần
            mềm; kiến thức về thiết kế, xây dựng, cài đặt, vận hành và bảo trì các thành phần phần cứng, phần mềm của hệ
            thống máy tính và các hệ thống thiết bị dựa trên máy tính; kiến thức về mạng máy tính và truyền
            thông.<br><br>

            Ngoài ra, tại những trường đại học đào tạo ngành Công nghệ thông tin uy tín như Đại học Bách khoa – ĐHQG
            TP.HCM, Đại học Khoa học tự nhiên, Đại học Công nghệ TP.HCM (HUTECH),… sinh viên còn được chú trọng phát
            triển các kỹ năng: kỹ năng tư duy logic, kỹ năng tư duy sáng tạo, kỹ năng làm việc nhóm, kỹ năng quản lý
            thời gian,… Đây là những kỹ năng hết sức cần thiết nhằm giúp sinh viên phát huy tối đa những tố chất, khả
            năng mà một người Kỹ sư IT cần phải có. Bên cạnh đó, sinh viên còn được tham gia rèn luyện kỹ năng thực hành
            thường xuyên tại các doanh nghiệp, hệ thống trung tâm thực hành hiện đại.<br><br>


            <b> Học ngành Công nghệ thông tin ra trường làm gì?</b><br><br>
            Hiện nay, hầu như mọi thứ trong cuộc sống đều liên quan đến việc ứng dụng công nghệ thông tin, các hoạt động
            trong đời sống xã hội như: giao lưu, giải trí, việc làm đều có thể trở nên dễ dàng hơn nhờ chiếc smartphone
            nhỏ gọn trong tầm tay đến thế giới đám mây của công nghệ số. Chính vì vậy, theo dự báo của các chuyên gia
            thì nhu cầu nhân lực cho ngành công nghệ thông tin ngày càng có chiều hướng gia tăng với nhiều cơ hội việc
            làm hấp dẫn.<br><br>

            <img src="../assets/images/gioithieu3.jpg" style="width: 100%;"> <br> <br>

            Sinh viên tốt nghiệp ngành Công nghệ thông tin có thể làm việc trong các công ty, xí nghiệp, trường học,
            bệnh viện, các tổ chức, hiệp hội,… liên quan đến các lĩnh vực phát triển, sản xuất, lắp ráp, sửa chữa trang
            thiết bị phần cứng, chuyên thiết kế, triển khai các giải pháp tích hợp về phần cứng và phần mềm và cả những
            vấn đề về an ninh mạng như virut, hacker,… Thậm chí, bạn có thể là một chuyên gia IT tự do, hình mẫu ngày
            càng được ưa thích, làm việc độc lập, không phụ thuộc vào bất kỳ cơ quan, tổ chức nào hoặc có thể cùng một
            số đồng nghiệp khác lập ra một nhóm hay một công ty của riêng mình. Cụ thể, tốt nghiệp ngành Công nghệ thông
            tin, bạn có thể đảm nhận các vị trí sau: <br><br>

            <ul>
                <li style="text-align:justify"><span style="font-size:13px"><span
                            style="font-family:arial,helvetica,sans-serif">Trở thành lập trình viên phần mềm: người trực
                            tiếp tạo ra các sản phẩm phần mềm</span></span></li>
                <li style="text-align:justify"><span style="font-size:13px"><span
                            style="font-family:arial,helvetica,sans-serif">Kiểm duyệt chất lượng phần mềm: trực tiếp
                            kiểm tra chất lượng các sản phẩm do lập trình viên tạo ra </span></span></li>
                <li style="text-align:justify"><span style="font-size:13px"><span
                            style="font-family:arial,helvetica,sans-serif">Chuyên viên phân tích thiết kế hệ thống, quản
                            lý dữ liệu, quản trị mạng, kỹ thuật phần cứng&nbsp; máy tính,…</span></span></li>
                <li style="text-align:justify"><span style="font-size:13px"><span
                            style="font-family:arial,helvetica,sans-serif">Chuyên gia quản lý, điều phối các dự án công
                            nghệ thông tin</span></span></li>
            </ul>
            <br>
            Để đảm nhận tốt công việc của một kỹ sư Công nghệ thông tin, tạo điều kiện cho sinh viên thực hành, thực tập
            bên cạnh chương trình lý thuyết là một trong những yếu tố được các trường đại học đào tạo ngành Công nghệ
            thông tin uy tín đặc biệt chú trọng. Chẳng hạn, HUTECH đã chuẩn bị chu đáo cho tương lai của sinh viên ngành
            <B> Công nghệ thông tin</B> thông qua việc phối hợp cùng các doanh nghiệp tổ chức các hội thảo chuyên đề, kỳ
            thực
            tập doanh nghiệp và ký kết thỏa thuận hợp tác tuyển dụng, thực tập với với đa dạng các công ty, Doanh nghiệp
            trong và ngoài nước. Đó là sự chuẩn bị chu đáo để các kỹ sư Công nghệ thông tin tương lai có thể thích ứng
            nhanh và đảm trách tốt mọi công tác quản lý – điều hành, xử lý - ứng dụng, hội nhập – làm chủ công nghệ theo
            đà phát triển khoa học kỹ thuật thời đại mới.<br><br>


            Với những điều đã trình bày, có lẽ <b>“Ngành Công nghệ thông tin là gì? Ra trường làm gì?”</b> đã không còn
            là một
            câu hỏi khó. Tuy nhiên, bạn có phù hợp để theo học ngành Công nghệ thông tin không, ngành Công nghệ thông
            tin xét những tổ hợp môn nào, điểm trúng tuyển của ngành Công nghệ thông tin khoảng bao nhiêu, có những
            trường nào uy tín đào tạo ngành ngành Công nghệ thông tin,… là những câu hỏi bạn sẽ phải tiếp tục trả lời
            nếu thực sự mong muốn theo đuổi ngành Công nghệ thông tin và trở thành một kỹ sư Công nghệ thông tin giỏi
            trong tương lai.
        </div>
    </div>
    <br>
    <div class="container" style="background: cornsilk">
        <div class="backpage">
            <div class="row1">
                <div class="col-sm-4" style="float: left;">

                    CN: <b> Điện Biên Phủ</b> <br>
                    Địa chỉ:<b> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</b><br>
                    Điện thoại: <b>(028) 5445 7777 </b><br>
                    Website: <b>hutech@hutech.edu.vn </b><br>
                    Email:<b> key@key.com.vn</b>
                    <br>
                    <div class="social_link">
                        <a href="https://www.facebook.com/profile.php?id=100038330927513" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/facebook.png" alt="facebook"
                                title="facebook" style="width: 32px; margin-right: 5px">
                        </a>
                        <a href="https://www.youtube.com/user/DaoTaoTinHocKEY/videos" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/youtube-l.png" alt="youtube"
                                title="youtube" style="width: 32px; margin-right: 5px">
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">
                            <img src="https://key.com.vn/default/template/new_img/google.png" alt="google+"
                                title="google+" style="width: 32px; margin-right: 5px">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4" style="float: left">
                    <div class="yui3-c">
                        <ul class="footer_container__list">
                            <li class="footer_container__list-item">
                                <a title="ALTE" href="http://www.alte.org/" class="link--external footer_link--img">
                                    <img src="../assets/images/alte.png" class="image--small " alt="ALTE logo">
                                </a>
                            </li><br>
                            <li class="footer_container__list-item">
                                <a title="English Profile" href="http://www.englishprofile.org"
                                    class="link--external footer_link--img">
                                    <img src="../assets/images/english.png" class="image--small "
                                        alt="English Profile logo">
                                </a>
                            </li><br>
                            <li class="footer_container__list-item">
                                <a title="Cambridge University Press"
                                    href="http://www.cambridge.org/gb/cambridgeenglish"
                                    class="link--external footer_link--img">
                                    <img src="../assets/images/cambridge.png" class="image--small "
                                        alt="Cambridge University Press">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4" style="float: left">
                    <div class="footer_container yui3-u-1 yui3-u-sm-1-3">
                        <div class="yui3-c">
                            <ul class="footer_container__list">
                                <li class="footer_container__list-item">
                                    <a title="Cambridge Assessment" href="http://www.cambridgeassessment.org.uk/"
                                        class="link--external footer_link--img">
                                        <img src="../assets/images/cambridge1.png" class="image--small "
                                            alt="Cambridge Assessment logo">
                                    </a>
                                </li><br>
                                <li class="footer_container__list-item">
                                    <a title="BSI" href="http://www.bsigroup.co.uk/"
                                        class="link--external footer_link--img">
                                        <img src="../assets/images/bsi.png" class="image--small " alt="BSI Logo">
                                    </a>
                                </li><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>