<!-- <app-nav-header-exercise03></app-nav-header-exercise03> -->
<div class="container">
    <div class="ex3">
        <h2 class="text-center">Exercise 3</h2>
        <table class="table table-bordered text-center mt-2">
            <thead>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </thead>
            <tbody *ngFor="let product of products">
                <tr>
                    <td>{{ product.id }}</td>
                    <td>
                        <img [src]="product.image" alt="" width="65px" height="55px">
                    </td>
                    <td valign="baseline">{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <!-- | currency:"VND"  bo vo tren co chu đ-->
                    <td>{{ quantities[product.id] }}
                        <div class="btn-group ml-3">
                            <button class="btn btn-outline-warning btn-sm"
                                (click)="onIncreaseQuantities(product.id)">+</button>
                            <button class="btn btn-outline-secondary btn-sm"
                                (click)="onDecreaseQuantities(product.id)">-</button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-outline-success btn-sm">View</button>
                        <button class="btn btn-outline-dark btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td>Total Price</td>
                <td colspan="5" style="text-align: right">{{ totalPrice() }}</td>
            </tr>
        </table>
    </div>
</div>