<div class="container">
    <img src="../assets/images/danhmuc3.jpg" style="width: 100% ; height: 200px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between">
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a class="nav-link" href="trangchu"> <i class='fas fa-home' style='font-size:20px'></i> Trang
                        Chủ</a>
                </li>
                <li class="nav-item ">
                    <!--thêm active nó sẽ kh lick được  nav-item active-->
                    <a class="nav-link" href="gioithieu/"><i style="font-size:20px" class="fa">&#xf03a;</i> Giới Thiệu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe"><i class='fas fa-phone' style='font-size:20px'></i>
                        Liên Hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gopy"><i class='far fa-envelope' style='font-size:20px'></i> Góp
                        Ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hoidap" tabindex="-1" aria-disabled="true"><i
                            class='far fa-question-circle' style='font-size:20px'></i>
                        Hỏi Đáp</a>
                </li>

            </ul>
            <div class="btn-group" style="float: right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tài Khoản
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="login">Đăng Nhập</a>
                    <a class="dropdown-item" href="dangky">Đăng Ký</a>
                    <a class="dropdown-item" href="doimk">Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="quenmk">Quên Mật Khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="suatk">Sửa Đổi Tài Khoản</a>
                    <a class="dropdown-item" href="danhmucmh">Danh Mục môn Học</a>
                    <a class="dropdown-item" href="thitn">Thi Trắc Nghiệm</a>
                </div>
            </div>
        </div>
    </nav>

    <br>

    <div class="row">
        <div class="col-md-8">

            <h1 class="text-center text-dark">{{ sub.name }}</h1>

            <table class="table" style="border: none">
                <tbody>
                    <tr *ngFor="let subject of listSubjects | paginate:config;">
                        <td>
                            <div class="card" style="border: none">
                                <div class="card-title" style="font-family: 'Prata', serif; ">
                                    <strong><span style="color: #222; font-weight: 500"> Sentence
                                            {{ config.currentPage  }}/{{listSubjects.length }}: </span><span
                                            style="font-size: 1.1em; font-weight: bold"> {{ subject.Text }}
                                        </span></strong>
                                </div>
                                <!-- <div class="card-body text-left" style="font-family: 'Roboto Slab', serif; ">
                                        <mdb-checkbox (change)="changed(1, config.currentPage - 1)"
                                            [checked]="listChoose[config.currentPage - 1] === 1" [default]="true">
                                            {{ subject.Answers[0].Text}}</mdb-checkbox>
                                        <mdb-checkbox (change)="changed(2, config.currentPage - 1)"
                                            [checked]="listChoose[config.currentPage - 1] === 2" [default]="true">
                                            {{ subject.Answers[1].Text}}</mdb-checkbox>
                                        <mdb-checkbox *ngIf="subject.Answers[2]" (change)="changed(3, config.currentPage - 1)"
                                            [checked]="listChoose[config.currentPage - 1] === 3" [default]="true">
                                            {{ subject.Answers[2].Text}}</mdb-checkbox>
                                        <mdb-checkbox *ngIf="subject.Answers[3]" (change)="changed(4, config.currentPage - 1)"
                                            [checked]="listChoose[config.currentPage - 1] === 4" [default]="true">
                                            {{ subject.Answers[3].Text}}</mdb-checkbox>
            
            
                                    </div> -->
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="PHP">
                                        {{ subject.Answers[0].Text}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="Java">
                                        {{ subject.Answers[1].Text}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="HTML">
                                        {{ subject.Answers[2].Text}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="CSS">
                                        {{ subject.Answers[3].Text}}
                                    </label>
                                </div>
                                <div class="checkbox disabled">
                                    <label>
                                        <input type="checkbox" value="Bootstrap" disabled>
                                        Assignment
                                    </label>
                                </div>
                                <!-- <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <button type="submit" class="btn btn-lg btn-info">Save</button>
                                        </div>
                                    </div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i [ngClass]="{'disable': ceil(config.currentPage) === 1}"
                                style="font-size: 30px; color: #222; margin: 0 15px" class="fa fa-arrow-circle-up"
                                (click)="onGetFirstPage()"></i>
                            <i [ngClass]="{'disable': ceil(config.currentPage) === 1}"
                                style="font-size: 30px; color:  #222; margin: 0 15px" class="fa fa-arrow-circle-left"
                                (click)="onPrevPage()"></i>
                            <i [ngClass]="{'disable': ceil(config.currentPage) === ceil(config.totalItems / config.itemsPerPage)}"
                                style="font-size: 30px; color:  #222; margin: 0 15px" class="fa fa-arrow-circle-right"
                                (click)="onNextPage()"></i>
                            <i [ngClass]="{'disable': ceil(config.currentPage) === ceil(config.totalItems / config.itemsPerPage)}"
                                style="font-size: 30px; color:  #222; margin: 0 15px" class="fa fa-arrow-circle-down"
                                (click)="onGetLastPage()"></i>

                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-dark" (click)="submit()">Nộp Bài</button>
            <h5 class="text-right" style="font-family: 'VT323', monospace;"><span
                    style="font-weight: bold; font-family: 'Fira Code', monospace;">Time Out:</span> {{format(time)}}
            </h5>


        </div>
        <!-- end col-md-8 -->

        <div class="col-md-4">
            <!-- <div class="giohang">
            <div class=" card">
                <div class="card-body">
                    <img src=" ../assets/images/shopping.gif" class="card-img-top" style="width: 4rem;">
                    <p>
                        100 items<br>
                        & 56.8<br>

                        <a href="#">view cart</a>
                    </p>
                </div>
            </div>

        </div> -->

            <!-- <div class="from">
            <div class="row" style="border: 2px solid lightgrey; margin: 1em 0 1em 0">
                <div class="col-sm-12" style="margin-top: 1em; margin-bottom: 1em">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
        </div> -->
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#demo"><i
                                    class="fa fa-align-left" style="font-size:24px"> Danh Mục Môn Học</i>
                                <div id="demo" class="collapse">
                                    <ul class="list-group">
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">Kiểm Thử Phần
                                            Mềm</a>
                                        <a class="btn btn-outline-dark" href="danhmucmh" role="button">SQL Sever</a>
                                        <li class="list-group-item">Điện Toán Đám Mây</li>
                                        <li class="list-group-item">Lập Trình PHP</li>
                                        <li class="list-group-item">Lập trình Android nâng cao</li>
                                        <li class="list-group-item">Lập trình Android cơ bản</li>
                                        <li class="list-group-item">Thiết kế layout</li>
                                        <li class="list-group-item">Thiết kê giao diện Android</li>
                                        <li class="list-group-item">Quản lý dự án với Aglie</li>
                                        <li class="list-group-item">Internet Maketing</li>
                                        <li class="list-group-item">Lập trình hướng đối tượng Java</li>
                                        <li class="list-group-item">Lập trình ASP.NET</li>
                                    </ul>
                                </div>
                        </ul>
                    </div>
                </div>

                <!-- <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station">
                            <i class='fas fa-table' style='font-size:24px'></i> NHÀ CUNG CẤP</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#station1">
                            <i class='fas fa-star' style='font-size:24px'></i> HÀNG ĐẶC BIỆT</li>
                        <div id="demo" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" [routerLink]="['/dienthoai']">Điện thoại di động</li>
                                <li class="list-group-item">Máy tính xách tay</li>
                                <li class="list-group-item">Máy tính để bàn</li>
                                <li class="list-group-item">Quạt máy</li>
                                <li class="list-group-item">Tivi</li>
                                <li class="list-group-item">Tủ lạnh</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div> -->

            </div>
            <!-- end card accordion -->
        </div>
        <!-- end col-md-4 -->
    </div>
    <!-- end row -->
    <!-- hiện thông báo -->
    <!-- <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
        <input type="text" name="emailid" placeholder="emailid" ngModel>
        <br />
        <input type="password" name="passwd" placeholder="passwd" ngModel>
        <br />
        <input type="submit" value="submit">
    </form> -->
    <!-- lưu tên tài khoản -->
    <!-- <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
            <input type="text" class="fortextbox" name="emailid" placeholder="emailid" formControlName="emailid">
            <br />

            <input type="password" class="fortextbox" name="passwd" placeholder="passwd" formControlName="passwd">
            <br />

            <input type="submit" class="forsubmit" value="Log In">
        </form>
    </div>
    <p>
        Email entered is : {{emailid}}
    </p> -->
    <!-- kiểm tra tài khoản và mật khẩu có hợp lệ không -->
    <br>


</div>